@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui, sans-serif;

  --spacing: calc(1rem / 16);

  --breakpoint-desktop: 770px;

  --container-desktop: 500px;

  --color-primary-100: #d5e8ff;
  --color-primary-200: #aad2ff;
  --color-primary-300: #80bbff;
  --color-primary-400: #55a5ff;
  --color-primary-500: #2b8eff;
  --color-primary-600: #2272cc;
  --color-primary-700: #1a5599;
  --color-primary-800: #113966;
  --color-primary-900: #091c33;

  --secondary: #ffefbb;

  --color-gray-100: #f8f8f7;
  --color-gray-200: #dbdbdb;
  --color-gray-600: #767676;

  --shadow-custom: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Typography Styles */
.heading-01 {
  @apply font-sans text-[32px] leading-normal font-extrabold;
}

.heading-02 {
  @apply font-sans text-[24px] leading-normal font-bold;
}

.heading-03 {
  @apply font-sans text-[20px] leading-[150%] font-semibold;
}

.input {
  @apply font-sans text-[20px] leading-[28px] font-semibold;
}

.dropdown {
  @apply font-sans text-[20px] leading-[150%] font-medium;
}

.label {
  @apply font-sans text-[16px] leading-[16px] font-normal;
}

.menu {
  @apply font-sans text-[20px] leading-[20px] font-bold;
}

.dropdown-transition {
  transition:
    max-height 500ms ease-in-out,
    opacity 300ms ease-in-out;
}

*:focus {
  outline: none;
}
