/* Hide scrollbars for all elements */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui, sans-serif;

  --spacing: calc(1rem / 16);

  --breakpoint-desktop: 770px;

  --container-desktop: 500px;

  --color-primary-100: #d5e8ff;
  --color-primary-200: #aad2ff;
  --color-primary-300: #80bbff;
  --color-primary-400: #55a5ff;
  --color-primary-500: #2b8eff;
  --color-primary-600: #2272cc;
  --color-primary-700: #1a5599;
  --color-primary-800: #113966;
  --color-primary-900: #091c33;

  --color-secondary: #ffefbb;

  --color-gray-100: #f8f8f7;
  --color-gray-200: #dbdbdb;
  --color-gray-600: #767676;

  --shadow-custom: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

  --animate-slide-up-fade: slide-up-fade 300ms ease-in-out;
  --animate-pop-wave: pop-wave 700ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
  --animate-wave: wave 700ms cubic-bezier(0.4, 0, 0.2, 1) infinite;

  @keyframes slide-up-fade {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes wave {
    0%,
    60%,
    100% {
      transform: translateY(0); /* initial 대신 명시적으로 0으로 설정 */
    }
    30% {
      transform: translateY(-5px);
    }
  }

  @keyframes pop-wave {
    0%,
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    20% {
      opacity: 1;
      transform: translateY(-12px) scale(1.1);
    }
    40% {
      opacity: 0.9;
      transform: translateY(0) scale(0.95);
    }
    60% {
      opacity: 1;
      transform: translateY(-6px) scale(1.05);
    }
    80% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}

/* Typography Styles */
.heading-01 {
  @apply font-sans text-[32px] leading-normal font-extrabold;
}

.heading-02 {
  @apply font-sans text-2xl leading-normal font-bold;
}

.heading-03 {
  @apply font-sans text-xl/30 font-semibold;
}

.input {
  @apply font-sans text-xl/28 font-semibold;
}

.dropdown {
  @apply font-sans text-xl/30 font-medium;
}

.label {
  @apply font-sans text-base/16 font-normal;
}

.menu {
  @apply font-sans text-xl/20 font-bold;
}

.dropdown-transition {
  transition:
    max-height 500ms ease-in-out,
    opacity 300ms ease-in-out;
}

*:focus {
  outline: none;
}
