@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui, sans-serif;

  --spacing: calc(1rem / 16);

  --primary-100: #d5e8ff;
  --primary-200: #aad2ff;
  --primary-300: #80bbff;
  --primary-400: #55a5ff;
  --primary-500: #2b8eff;
  --primary-600: #2272cc;
  --primary-700: #1a5599;
  --primary-800: #113966;
  --primary-900: #091c33;

  --secondary: #ffefbb;

  --gray: #dbdbdb;

  --shadow-custom: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Typography Styles */
.header-01 {
  @apply font-sans text-[32px] leading-normal font-extrabold;
}

.header-02 {
  @apply font-sans text-[24px] leading-normal font-bold;
}

.header-03 {
  @apply font-sans text-[20px] leading-[150%] font-semibold;
}

.input {
  @apply font-sans text-[20px] leading-[28px] font-semibold;
}

.dropdown {
  @apply font-sans text-[20px] leading-[150%] font-medium;
}

.label {
  @apply font-sans text-[16px] leading-[16px] font-normal;
}

.menu {
  @apply font-sans text-[20px] leading-[20px] font-bold;
}
